html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.item{
  margin-bottom: 15px;
  position: relative;
}
.item.dragOverActice .item-input input,
.item.dragOverActice .item-input textarea {
  box-shadow: 0 -5px 5px -5px #3c80cf;
}

.item .item-input textarea{
  overflow: hidden;
}

.item .dragIcon{
  position: absolute;
  top: 35px;
  left: 0px;
}

.item-input {
  padding-left: 3%;
  box-sizing: border-box
}


.item-actions{
  float: right;
}

