html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
}

.label {
  padding-left: 3px;
}