html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tabswrap{
  flex-wrap: wrap;
}

.removearea{
  float: right;
}

.values{
  list-style: none;
  padding-left: 0;
}

.microcopyvalue{
  display: inline-block;
}
.microcopyvalue input{
  max-height: 37px;
  box-sizing:border-box;
}

.microcopyinput{
  margin-bottom: 4px;
}

.field{
  display: inline-block;
  border: 1px solid #d3dce0;
  margin: 0 4px;  
}


.field .fieldvalue{
  min-width: 230px;
  display: inline-block;
}

.codeconnection{
  position: relative;
  top: 4px;
}